<app-header></app-header>
<div class="container p-5">
  <div class="row">
    <div class="col-sm-8 offset-2">
      <div *ngIf="currentQuestion < questions.length">
        <p class="text-center">{{currentQuestion + 1}} of {{questions.length}}</p>
        <h3>{{questions[currentQuestion].question}}</h3>
        <ul class="list-group" *ngFor="let question of questions[currentQuestion].answers">
          <label>
            <li class="list-group-item" *ngIf="(premission === 'high' || premission ==='medium')">
              <input type="radio" (click)="onAnswer(question)" [disabled]="answerSelected">
              {{question[0]}}</li>
          </label>
        </ul>
        <button class="btn btn-primary" (click)="onNext()" style="margin-right: 5px;">Next</button>
        <button *ngIf="premission === 'high'" class="btn btn-danger" (click)="onEditQuestion()">Edit</button>
      </div>
      <div *ngIf="currentQuestion == questions.length">
        <div class="col-sm-6 offset-2">
          <h2 style="margin-bottom: 10px; margin-left: 30px;">Quiz finished</h2>
          <button class="btn btn-success" (click)="showResult()" style="margin-right: 10px;"
                  *ngIf="(premission === 'high' || premission ==='medium')">Show result
          </button>

          <button class="btn btn-info" (click)="showAllQuizzes()">View all Quizzes</button>
          <div *ngIf="result">
            Correct: {{correctAnswers}} | Incorrect: {{incorrectAnswers}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
